<link rel="stylesheet" href="stylesheets/root/experimental/nish.css">
<script type="application/javascript" src="scripts/root/experimental/nish.js"></script>
<h3>NISH</h3>
<textarea id="console" autofocus="autofocus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
