<div id="content">
  <div id="left-header">
    <div id="tagline-main">game</div><div id="tagline-temp">software</div>
  </div>
  <div id="right-header">
    developer<span id="cursor" class="non-selectable">▂</span>
  </div>
  <h4>Click the icon to see my work</h4>
  <a class="social-button" href="projects.html" data-toggle="tooltip" title="projects">
    <svg class="svg-img" width="14px" height="16px" viewbox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
            <g>
                <path d="M9.5,3 L8,4.5 L11.5,8 L8,11.5 L9.5,13 L14,8 L9.5,3 L9.5,3 Z M4.5,3 L0,8 L4.5,13 L6,11.5 L2.5,8 L6,4.5 L4.5,3 L4.5,3 Z"></path>
            </g>
        </g>
    </svg>
  </a>
</div>
