<div id="navigation">
  <ul id="nav-menu">
    <li><a id="nav-button-index" href="index.html">Home</a></li>
    <li><a id="nav-button-blog" href="blog.html">Blog</a></li>
    <li><a id="nav-button-projects" href="projects.html">Projects</a></li>
    <li><a id="nav-button-videos" href="videos.html">Videos</a></li>
    <li><a id="nav-button-contact" href="contact.html">Contact</a></li>
  </ul>
</div>
