html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
}

a {
  outline: none;
}

div#wrapper {
  background-color: #222222;
  padding: 1%;
  position: relative;
  min-height: 100%;
  top: 0;
}

a.social-button {
  padding: 0.25em;
  text-decoration: none;
}

div#header {

}

div#header .title-text {
  display: inline-block;
}

div#header div.social-buttons {
  display: inline-block;
  float: right
}

div#header a {
  color: white;
  text-decoration: none;
  transition: color 0.25s;
}

div#header a:hover {
  color: #0ce3ac;
}

div#header .svg-img {
  fill: #FFFFFF;
  width: 1.25em;
  height: 1.25em;
  transition: fill 0.25s;
}

div#header .svg-img:hover {
  fill: #0ce3ac;
}

div#navigation {

}

ul#nav-menu {
  background: #333333;
  border: 0.1em solid #222222;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul#nav-menu li {
  border-right: 0.1em solid #222222;
  display: inline-block;
  float: left;
  width: 20%;
}

ul#nav-menu li:last-child {
  border-right: none;
}

ul#nav-menu li a {
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  text-decoration: none;
}

ul#nav-menu li a:hover {
  background: #444444;
}

ul#nav-menu li a.active {
  background: #46B196;
  color: white;
}

div#content {
  padding-bottom: 8em;
}

div#content .social-buttons {
  padding-top: 1em;
}

div#content p {
  text-align: justify;
}

div#footer {
  bottom: 0;
  color: gray;
  height: 8em;
  left: 0;
  padding: 1%;
  position: absolute;
  right: 0;
  text-align: center;
}

div#footer .legal {
  float: left;
  text-align: left;
}

div#comment-section {
  width: 100%;
}

div#not-signed-in {
  background: #FFF8DD;
  border-color: #D8D6C0;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.1em;
  color: #735C0F;
  font-weight: bold;
  padding: 1em;
  padding-bottom: 0.5em;
}

.blog-title {
  font-size: 4em;
}

a.gitlab-button {
  background: linear-gradient(#33CE57, #28A745);
  border-color: #2FAC4D;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.1em;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  text-decoration: none;
}

a.gitlab-button:hover {
  background: linear-gradient(#2DC14F, #269F42);
  border-color: #247039;
}

a.gitlab-button:active {
  background: linear-gradient(#258E3E, #279E43);
  border-color: #215F33;
}

.comment-button {
  float: right;
}

a.signout-button {
  background: linear-gradient(#F9FAFB, #EFF3F6);
  border-color: #EFF3F6;
  color: #CB2431;
  display: inline-block;
}

a.signout-button:hover {
  background: linear-gradient(#D93C48, #CB2431);
  border-color: #75252D;
  color: white;
}

a.signout-button:active {
  background: linear-gradient(#A0202B, #B4202C);
  border-color: #682028;
}

div.comment-form-inner {
  padding: 0.5em;
}

textarea#comment-area {
  border-radius: 0.25em;
  margin-bottom: 0.5em;
  resize: none;
  width: 100%;
}

div.comment-outer {
  display: block;
  min-height: 5em;
  padding-top: 1em;
  width: 100%;
}

.user-avatar-anchor {
  float: left;
}

.user-avatar {
  border-radius: 0.25em;
  height: 4em;
  width: 4em;
}

.original-post-avatar {
  border-radius: 0.25em;
  height: 1.5em;
  width: 1.5em;
}

.original-post-info {
  padding-left: 0.5em;
  padding-top: 0.5em;
}

div.comment-inner {
  border-color: #444444;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.1em;
  margin-left: 4.5em;
}

div.comment-header {
  background: #333333;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

div.comment-header a.commenter-anchor {
  font-weight: bold;
}

div.comment-header .comment-options {
  display: inline-block;
  float: right;
}

div.comment-header .comment-options {
  cursor: pointer;
  display: inline-block;
}

div.comment-header .svg-img {
  fill: white;
  width: 1.5em;
  height: 1.5em;
  transition: fill 0.25s;
}

div.comment-header .svg-img:hover {
  fill: #0ce3ac;
}

div.comment-body {
  border-top: 0.1em solid #444444;
  padding: 1em;
  padding-bottom: 0.5em;
}
