div#content a.social-button {
}

div#content .svg-img {
  background: #444444;
  border-radius: 2em;
  fill: #0ce3ac;
  width: 7em;
  height: 7em;
  padding: 1.5em;
  stroke: #0ce3ac;
  transition: background 0.5s, fill 0.5s, stroke 0.5s;
}

div#content .svg-img:hover {
  background: #46B196;
  fill: white;
  stroke: white;
}
