div#content {
  text-align: center;
}

div#content div#left-header, div#content div#right-header {
  display: inline-block;
  font-family: "Courier New";
  font-size: calc(100% + 2.5vw);
  line-height: 1em;
  overflow: hidden;
  padding-bottom: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  width: 45%;
}

div#content div#left-header {
  text-align: right;
}

div#content div#right-header {
  text-align: left;
}

div#content .svg-img {
  background: #444444;
  border-radius: 2em;
  fill: #0ce3ac;
  width: 16em;
  height: 14em;
  padding: 1.5em;
  transition: background 0.5s, fill 0.5s;
}

div#content .svg-img:hover {
  background: #46B196;
  fill: white;
}

#tagline-main, #tagline-temp {
  color: #0ce3ac;
  padding: 0;
}

#tagline-main {
  opacity: 0;
}

#tagline-temp {
  opacity: 1;
}

.tagline-main-animation {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: fade-in-down;
  animation-timing-function: linear;
}

.tagline-temp-animation {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: fade-out-down;
  animation-timing-function: linear;
}

@keyframes fade-in-down {
  100% {
    opacity: 1;
    transform: translateY(1em);
  }
}

@keyframes fade-out-down {
  100% {
    opacity: 0;
    transform: translateY(1em);
  }
}

#cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.non-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
