div#content ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 1%;
}

div#content li {
  background: #282828;
  border: 0.1em solid #333333;
  border-radius: 0.3em;
  margin: 1%;
  padding: 1%;
}

div#content li:hover {
  background: #333333;
}

div#content .left {
  display: inline-block;
}

div#content .right {
  display: inline-block;
  float: right;
}

div#content h4 {
  color: lightgray;
}

div#content h5 {
  font-weight: bolder;
}

div#content a {
  padding-left: 0.5em;
  text-decoration: none;
}

div#content img {
  padding-right: 0.5;
}

div#content .middle .left {
  max-width: 80%;
  padding-right: 1%;
}

div#content .middle img {
  max-width: 20%;
  max-height: 8em;
  padding-bottom: 1em;
}

div#content .bottom {
  border-top: 0.1em solid #444444;
  clear: both;
  padding-top: 1%;
}

div#content .svg-img {
  fill: #0ce3ac;
  width: 1.5em;
  height: 1.5em;
  transition: width 0.5s, height 0.5s;
}

div#content .svg-img:hover {
  width: 1.75em;
  height: 1.75em;
}
