div#content .search-form {
  padding: 0.25em;
  padding-bottom: 0.5em;
}

div#content .search-box {
  border-radius: 0.25em;
  padding: 0.25em;
  width: 100%;
}

div#content .clear-search-button {
  background: #444444;
  border-radius: 1em;
  fill: #0ce3ac;
  font-size: 0.75em;
  margin: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  transition: background 0.25s, fill 0.25s;
}

div#content .clear-search-button:hover {
  background: #46B196;
  cursor: pointer;
  fill: white;
}

div#content .nav-status-span {
  padding: 0.25em;
  vertical-align: middle;
}

div#content .page-nav-button {
  display: inline-block;
  padding: 0.25em;
  vertical-align: middle;
}

div#content .disabled {
  pointer-events: none;
}

div#content .page-nav-button .svg-img {
  background: #444444;
  border-radius: 0.25em;
  cursor: pointer;
  fill: #0ce3ac;
  width: 2em;
  height: 2em;
  transition: background 0.25s, fill 0.25s;
}

div#content .disabled .svg-img {
  background: #333333;
  fill: #666666;
}

div#content .page-nav-button .svg-img:hover {
  background: #46B196;
  fill: white;
}

div#content .video-player {
  background: black;
  outline: none;
}

/* Style the tab */
div#content .tab {
  overflow: hidden;
  border: 1px solid #666666;
  background-color: #444444;
}

/* Style the buttons that are used to open the tab content */
div#content .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div#content .tab button:hover {
  background-color: #46B196;
}

/* Create an active/current tablink class */
div#content .tab button.active {
  background-color: #0ce3ac;
}

/* Style the tab content */
div#content .tabcontent {
  display: none;
  border-top: none;
}